*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*~
*.o
*.obj
*.bak
*.dep
*.i
*.d
*.crf
*.uvoptx
*.uvguix.*
*.puml

.idea
EventRecorderStub.scvd
JLinkLog.txt
JLinkSettings.ini
Listings
Objects
cmake-build-debug
cmake-build-release
shelf
workspace.xml
CMakeFiles
build
GrepConsole.xml
out
x264
